   body {
            font-family: Arial;
            padding: 20px;
        }
        h2 {
            background: #0a8a52;
            color: white;
            padding: 10px;
            border-radius: 5px;
            width:600px;
        }
        .box {
            border: 1px solid #ccc;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 5px;
            width :600px;
        }
        pre {
            background: #f3f3f3;
            padding: 10px;
            border-radius: 5px;
        }