* {
            padding: 0;
            margin: 90;
            box-sizing: border-box;
            font-family: 'Times New Roman', Times, serif;
        }
        body {
            background: rgb(251, 246, 86) }
         /* HEADER */
        header {
            width: 80%;
            padding: 40px 10%;
            display: flex;            
            justify-content: space-between;
            align-items: center;
        }
        /*logo*/
        .logo {
            font-size: 20px;
            font-weight:bold;
        }
         nav a {
            margin: 0 20px;
            color: rgb(2, 37, 176);
            text-decoration: none;
            font-size: 16px;
            font-weight: 600;
        }

        nav a:hover {
            opacity: 0.3;
        }
        .auth a{
            margin-left:15px;
            text-decoration: none;
            font-size: 20px;
        }
        .view models {
            color:rgb(115, 111, 116);
        }
        .view models {
            opacity: 0.4;
        }
        .customers-btn{
            background:rgb(2, 37, 176);
            padding: 10px 20px;
            border-radius: 4px;
            color: white;
            font-weight: bold;
            border: none;
        }
        .customers-btn:hover {
            opacity: 0.4;
        }
        .welcome{
        text-align: center;
        color:rgb(10, 10, 10);
            margin-top: 10px;
            padding: 8px;
        }
        .h1 {
            text-align: center;
            color:rgb(255, 123, 0);
            margin-top: 10px;
            padding: 1px;
        }
        
        
        .container{
            width:70%;
            margin:auto;
            padding:20px;
            background-color: rgb(230, 141, 23);
            border-radius: 10px;
            border:1px solid black;
        }

    
.box {
    background: #f7f7f7;                    
    padding: 60px;
    border-radius: 10px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}


.primary-btn,
        .secondary-btn {
             display: inline-block;
            padding: 12px 45px;
            border-radius: 6px;
            text-decoration: none;
            margin: 0 15px;
            font-size: 14px;
            font-weight: 600;
        }

        .primary-btn {
            background: #09014a;
            color: rgb(240, 95, 5);
        }

        .primary-btn:hover {
            opacity: 0.3;
        }

        .secondary-btn {
            border: 2px solid#09014a;
            color: rgb(240, 95, 5);
        }

        .secondary-btn:hover {
            background: #202020;
            border-color: rgb(43, 4, 239);
        }
        .footer{
            width:100%;
            background: black;
            color:rgb(248, 249, 250);
            text-align: center;
            padding: 10px;
            margin-top: 40px;
        }
