 * {
            padding: 0;
            margin: 80;
            box-sizing: border-box;
            font-family: 'Times New Roman', Times, serif;
        }
        body {
            background: rgb(149, 188, 236) }
         /* HEADER */
        header {
            width: 100%;
            padding: 40px 10%;
            display: flex;            
            justify-content: space-between;
            align-items: center;
        }
        /*logo*/
        .logo {
            font-size: 26px;
            font-weight: bold;
        }
         nav a {
            margin: 0 20px;
            color: white;
            text-decoration: none;
            font-size: 16px;
            font-weight: 800;
        }

        nav a:hover {
            opacity: 0.3;
        }
        .auth a{
            margin-left:15px;
            text-decoration: none;
            font-size: 14px;
        }
        .Sign up {
            color:rgb(115, 111, 116);
        }
        .Sign up {
            opacity: 0.4;
        }
        .memberslogin-btn{
            background:rgb(115, 111, 116);
            padding: 10px 20px;
            border-radius: 4px;
            color: white;
            font-weight: bold;
            border: none;
        }
        .memberslogin-btn:hover {
            opacity: 0.8;
        }
        .welcome{
        text-align: left;
        color:rgb(251, 3, 3);
            margin-top: 10px;
            padding: 1px
        }
        .h1 {
            text-align: left;
            color:blue;
            margin-top: 10px;
            padding: 1px
        }
        
        
        .container{
            width:80%;
            margin:auto;
            padding:20px;
            background-color: yellowgreen;
            border-radius: 10px;
            border:1px solid black;
        }

    .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;                              
    padding: 20px;
}

.box {
    background: #f7f7f7;                    
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}


.primary-btn,
        .secondary-btn {
            display: inline-block;
            padding: 12px 45px;
            border-radius: 6px;
            text-decoration: none;
            margin: 0 15px;
            font-size: 14px;
            font-weight: 600;
        }

        .primary-btn {
            background: #8274ea;
            color: rgb(218, 237, 12);
        }

        .primary-btn:hover {
            opacity: 0.3;
        }

        .secondary-btn {
            border: 2px solid #8274ea;
            color: rgb(218, 237, 12);
        }

        .secondary-btn:hover {
            background: #202020;
            border-color: rgb(43, 4, 239);
        }
        .footer{
            width:100%;
            background-color: #202020;
            color:rgb(248, 249, 250);
            text-align: center;
            padding: 10px;
            margin-top: 40px;
        }