*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 253, 252);
}
.container
{
    background: rgb(137, 126, 126);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}
h1{
    margin-bottom: 20px;
}
.form-group{
    margin-bottom: 30px;
    text-align: left;
}
label{
    display: block;
    margin-bottom: 5px;
}
input{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
}
button{
    width: 100%;
    padding: 10px;
    background: rgb(231, 170, 238);
    color: rgb(247, 245, 245);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: rgb(11, 10, 10);
}
#result{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}